@model ERT.Models.Order

@{
	ViewBag.Title = "Success";
}

<h2>Checkout Complete</h2>
<p>Thanks for your order! Your payment was a success.</p>
<p>
	How about shopping for some more items in our
	@Html.ActionLink("Eshop", "Index", "Home")
</p>


