@model IEnumerable<ERT.Models.Eshop>

@{
	ViewBag.Title = "Index";
}
<h2>All Shops</h2>
<hr />
<br />
<div class="row">
	@foreach (var item in Model)
	{
		<div class="col-md-3">
			<div class="container">
				<div class="card" style="width:250px">
					@if (item.Shop_Image!= null)
					{
						var base64 = Convert.ToBase64String(item.Shop_Image);
						var ImgSource = string.Format("data:image/gif;base64,{0}", base64);
						<img class="card-img-top" src="@ImgSource" alt="Card image" width="250" height="250" />
					}
					<div class="card-body">
						<center><p class="card-text"><b>@Html.DisplayFor(modelItem => item.Shop_Name)</b></p></center>
				
						<center>
							<a href="@Url.Action("Index","Products", new {id= item.Shop_Id})" class="btn btn-primary btn-sm">
								<p>Browse shop</p>
							</a>
						</center>
					</div>
				</div>
			</div>
		</div>
	}
</div>
<br />
